@font-face {
  font-family: atk;
  src: url("./assets/fonts/AtkinsonHyperlegible-Bold.ttf");
}

:root {
  --orange: #fda214;
  --orang: #ffb84a;
  --gray: #bcced9;
  --dark-blue-gray: #304859;
  --pseudo-black: #152938;
  --light-gray: #f2f2f2;
  --blue: #7191a5;
  --light-blue: #6395b8;
  --white: #fcfcfc;
  --dark-white: #dfe7ec;
}

.h1 {
  font-family: atk;
  font-size: 48px;
}

.h2 {
  font-family: atk;
  font-size: 32px;
  line-height: 37px;
}

.h3 {
  font-family: atk;
  font-size: 20px;
  line-height: 24px;
}

.prm {
  font-family: atk;
  font-size: 26px;
  line-height: 32px;
}

.body {
  font-family: atk;
  font-size: 18px;
}

.primary-button,
.secondary-button {
  padding: 15px 30px;
  border: none;
  border-radius: 100px;
  transition: background-color 0.33s, color 0.33s;
}

.primary-button {
  background: var(--orange);
  color: var(--white);
}

.secondary-button {
  background: var(--dark-white);
  color: var(--dark-blue-gray);
}

.primary-button:active {
  background: var(--orang);
}

.secondary-button:active {
  background: var(--light-blue);
  color: var(--white);
}

@media (hover: hover) {
  .primary-button:hover {
    background: var(--orang);
  }
}

@media screen and (max-width: 1000px) {
  .h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .body {
    font-size: 15px;
    line-height: 19px;
  }
}

@media screen and (max-width: 500px) {
  .h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .prm {
    font-size: 16px;
    line-height: 20px;
  }

  .h2 {
    font-size: 18px;
    line-height: 22px;
  }

  .h3 {
    font-size: 15px;
    line-height: 18px;
  }

  .primary-button,
  .secondary-button {
    padding: 10px 18px;
  }
}
