@font-face {
  font-family: atk;
  src: url("./assets/fonts/AtkinsonHyperlegible-Bold.ttf");
}

:root {
  --orange: #fda214;
  --orang: #ffb84a;
  --gray: #bcced9;
  --dark-blue-gray: #304859;
  --pseudo-black: #152938;
  --light-gray: #f2f2f2;
  --blue: #7191a5;
  --light-blue: #6395b8;
  --white: #fcfcfc;
  --dark-white: #dfe7ec;
}

.h1 {
  font-family: atk;
  font-size: 48px;
}

.h2 {
  font-family: atk;
  font-size: 32px;
  line-height: 37px;
}

.h3 {
  font-family: atk;
  font-size: 20px;
  line-height: 24px;
}

.body {
  font-family: atk;
  font-size: 18px;
}

.number-6x6 {
  font-family: atk;
  font-size: 44px;
}

.number-4x4 {
  font-family: atk;
  font-size: 56px;
}

.primary-button,
.secondary-button {
  padding: 15px 20px;
  border: none;
  border-radius: 100px;
  transition: background-color 0.33s, color 0.33s;
}

.primary-button {
  background: var(--orange);
  color: var(--white);
}

.primary-button:hover {
  background: var(--orang);
}

.secondary-button {
  background: var(--dark-white);
  color: var(--dark-blue-gray);
}

.secondary-button:hover {
  background: var(--light-blue);
  color: var(--white);
}
